.contactInfo {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}
.appBody{
  background-color: #130418;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23fd03e0' fill-opacity='0.14' fill-rule='evenodd'/%3E%3C/svg%3E");
  color:#12fe06;
}
.textCenter {
  text-align: center;
}
.textJustify {
  text-align: justify;
}
/* image meny front page.. media brakepoints on hover and/or animation start on scroll */
@media screen and (min-width:800px){
.imageMeny {
  transition: all 1s linear;
}
.imageContainer {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.imageContainer:hover .imageMeny {
  transform: scale(1.2);
}
.popUpText {
  position: absolute;
  bottom: 0;
  transform: translate(100%, 100%);
  transition: all 1s linear;
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: rgba(0,0,0,0.5);
  color:#12fe06;
}
.imageContainer:hover .popUpText{
  transform: translate(0,0);
}
}
/*END media brakepoints on hover */

/* MEDIA BREAKPOINT FOR SMALL DISPLAYs */
@media screen and (max-width:799px){
  .imageContainer {
  position: relative;
  overflow: hidden;
}
.popUpText {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: rgba(0,0,0,0.5);
  color:#12fe06;
  font-size: 0.8rem;
}
  }
/* END*** MEDIA BREAKPOINT FOR SMALL DISPLAYs */
