.contactInfo {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}
.textCenter {
  text-align: center;
}
.nav-cent {
  display:flex;
  justify-content:space-around;
  align-items:center
}
.textJustify {
  text-align: justify;
}
/* image meny front page */
.imageMeny {
  transition: all 1s linear;
}
.imageContainer {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.imageContainer:hover .imageMeny {
  transform: scale(1.2);
}
.popUpText {
  position: absolute;
  bottom: 0;
  transform: translate(100%, 100%);
  transition: all 1s linear;
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: rgba(0,0,0,0.5);
  color:#12fe06;
}
.imageContainer:hover .popUpText{
  transform: translate(0,0);
}
